
<div style="text-align: center;">    <h4>Create Private Room</h4>
    <label> Rounds </label>
    <select>
    <option *ngFor='let in of counter(10) ;let i = index'>{{i}}

    </option>
</select>

<br><br>
<label> Draw time in seconde</label>
<select>
    <option value="30"> 30</option>
    <option value="40"> 40</option>
    <option value="50"> 50</option>
    <option value="70"> 70</option>
    <option value="80"> 80</option>
    <option value="90"> 90</option>
    <option value="100"> 100</option>
    <option value="110"> 110</option>
</select>

<br>
<br>
<label> Language</label>
<select>
    <option value="Fr"> Frensh</option>
    <option value="Eng"> English</option>
   
</select>
<br>
<br>s
<label> Custom words</label>
<textarea  ></textarea>

<br><b></b>
<button onclick=""> Start games</button>
</div>
