<div style="text-align:center;">

       <p></p>

       <p></p>
       <img src="../assets/img/sk.png" alt="Girl in a jacket" width="500" height="300">
     <div style="text-align:center;">
     
     <input type="text" id="name" name="name" required
            minlength="4" maxlength="8" size="10">
          <br>
           <br>
           </div>
     
           <div style="text-align: center;">
           
            <button [routerLink]="['../Room']" >Play</button>
         
               
           </div>
           <br>
     <div style="text-align: center;">
    
      <button>Create Private Room</button>
     </div>
         </div>
